body {
  font-family: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.glass-nav {
  background: rgba(249, 249, 255, 0.8);
  backdrop-filter: blur(12px);
}

.hero-gradient {
  background: linear-gradient(135deg, #003871 0%, #1b4f91 100%);
}

.tonal-shift {
  background-color: rgba(243, 243, 249, 0.5);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
